/WebApplication1/bin/Release/netcoreapp3.1/publish
/WebApplication1/bin/Release/netcoreapp3.1/WebApplication1.runtimeconfig.json
/WebApplication1/bin/Release/netcoreapp3.1/WebApplication1.runtimeconfig.dev.json
/WebApplication1/bin/Release/netcoreapp3.1/WebApplication1.pdb
/WebApplication1/bin/Release/netcoreapp3.1/WebApplication1.exe
/WebApplication1/bin/Release/netcoreapp3.1/WebApplication1.dll
/WebApplication1/bin/Release/netcoreapp3.1/WebApplication1.deps.json
/WebApplication1/bin/Release/netcoreapp3.1/Properties/launchSettings.json
/WebApplication1/bin/Release/netcoreapp3.1/appsettings.Development.json
/WebApplication1/bin/Release/netcoreapp3.1/appsettings.json
/WebApplication1/obj/Release/netcoreapp3.1/PubTmp/Out/WebApplication1.pdb
/WebApplication1/obj/Release/netcoreapp3.1/PubTmp/Out/WebApplication1.exe
/WebApplication1/obj/Release/netcoreapp3.1/PubTmp/Out/WebApplication1.dll
/WebApplication1/obj/Release/netcoreapp3.1/PubTmp/Out/WebApplication1.runtimeconfig.json
/WebApplication1/obj/Release/netcoreapp3.1/PubTmp/Out/WebApplication1.deps.json
/WebApplication1/obj/Release/netcoreapp3.1/PubTmp/Out/web.config
/WebApplication1/obj/Release/netcoreapp3.1/PubTmp/Out/appsettings.json
/WebApplication1/obj/Release/netcoreapp3.1/PubTmp/Out/appsettings.Development.json
/WebApplication1/obj/Release/netcoreapp3.1/staticwebassets/WebApplication1.StaticWebAssets.xml
/WebApplication1/obj/Release/netcoreapp3.1/staticwebassets/WebApplication1.StaticWebAssets.Manifest.cache
/WebApplication1/obj/Release/netcoreapp3.1/WebApplication1.RazorTargetAssemblyInfo.cache
/WebApplication1/obj/Release/netcoreapp3.1/WebApplication1.pdb
/WebApplication1/obj/Release/netcoreapp3.1/WebApplication1.MvcApplicationPartsAssemblyInfo.cache
/WebApplication1/obj/Release/netcoreapp3.1/WebApplication1.genruntimeconfig.cache
/WebApplication1/obj/Release/netcoreapp3.1/WebApplication1.exe
/WebApplication1/obj/Release/netcoreapp3.1/WebApplication1.dll
/WebApplication1/Properties/PublishProfiles/FolderProfile.pubxml.user
/WebApplication1/Properties/PublishProfiles/FolderProfile.pubxml
/WebApplication1/obj/Release/netcoreapp3.1/WebApplication1.csprojAssemblyReference.cache
/WebApplication1/obj/Release/netcoreapp3.1/WebApplication1.csproj.FileListAbsolute.txt
/WebApplication1/obj/Release/netcoreapp3.1/WebApplication1.csproj.CoreCompileInputs.cache
/WebApplication1/obj/Release/netcoreapp3.1/WebApplication1.assets.cache
/WebApplication1/obj/Release/netcoreapp3.1/WebApplication1.AssemblyInfoInputs.cache
/WebApplication1/obj/Release/netcoreapp3.1/WebApplication1.AssemblyInfo.cs
/WebApplication1/obj/Release/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
